@font-face {
  font-family: "Sono";
  src: url(/static/fonts/SonoSans-Light.ttf);
}

body div.header {
  font-family: "Sono";
  font-size: 24px;
  text-align: center;
  width: auto;
  text-decoration: underline;
}

body div.main {
  font-family: "Sono"; 
  font-size: 40px;
  text-align: center;
}
